@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&display=swap");

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.header {
  position: fixed;
  display: flex;
  vertical-align: middle;
  justify-content: space-evenly;
  background-color: rgb(138, 213, 235);
  width: 100%;
  z-index: 1;
  box-shadow: 10px 5px 5px rgb(102, 101, 101);
}

.menu {
  display: flex;
  align-items: flex-start;
  vertical-align: middle;
  margin: 0.5rem;
  width: 100%;
}

.menu li {
  margin: 0 1.5rem 0 0;
}

.empresa {
  position: relative;
  right: 400px;
  font-weight: 100;
  font-size: 700;
  font-style: italic;
}

.nombre {
  font-weight: 300;
  font-size: 800;
  font-style: italic;
}

.presentacion {
  position: relative;
  top: 30px;
  width: 100%;
}

.main {
  position: relative;
  top: 30px;
}

.productos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 80px;
  justify-content: center;
  margin-bottom: 1.5rem;
}

.card {
  margin: 1.2rem;
  border: none;
  box-shadow: 0.5px 2px 3px rgb(160, 159, 159);
}

.card:hover .card-img-top {
  transform: scale(1.1);
  transition: all 0.5s;
}
.card {
  overflow: hidden;
}

.card-link {
  color: black;
}

.suscripcion {
  font-weight: bold;
  font-size: 700;
  color: rgb(0, 0, 0);
  width: 100%;
  height: 680px;
  padding: 4.5rem;
  padding-top: 150px;
  margin-top: 1.5rem;
  margin-bottom: 3.5rem;
  text-align: center;
  background-image: url(./assets/images/Tacones-form.jpg);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: 100% 100%;
  opacity: 0.9;
  box-shadow: 2px 3px 3px rgb(44, 48, 65);
}

.nosotros {
  padding: 4.5rem;
  padding-top: 120px;
  margin-bottom: 3.5rem;
  width: 100%;
  height: 320px;
  font-style: italic;
  font-weight: 400;
  font-size: 700;
}

.contacto {
  color: rgb(254, 254, 255);
  text-align: center;
  font: 2.5rem;
  padding: 1.5rem;
  background-color: rgb(4, 37, 78);
}

.redes {
  width: 100%;
  margin: 1.2rem;
  display: flex;
  justify-content: center;
  border: 0.1rem solid rgb(0, 0, 0);
  background-color: dimgray;
}

.redes li {
  margin: 1.2rem;
  list-style: none;
}

.programador {
  color: rgb(108, 171, 223);
  text-shadow: 2px 3px 3px rgb(0, 0, 0);
}
