a {
  text-decoration: none;
}

.header {
  display: flex;
  vertical-align: middle;
  border: 0.5px solid rgb(0, 0, 0);
}

.menu {
  display: flex;
  align-items: flex-start;
  vertical-align: middle;
  margin: 0.5rem;
  width: 100%;
}

.menu li {
  margin: 0 1.5rem 0 0;
}
